---
import Layout from './layouts/common.astro'
---
	<Layout title="Adobe Photostore">
	      <p class="text-center text-gray-700">Best photo editor tools for everyone.</p>
      <a href="/pricing"><button class="animate-pulse hover:animate-none hover:delay-500 rounded-lg block text-white bg-[#2BB0ED] px-5 py-3 mx-auto mt-10 font-bold hover:duration-500 hover:bg-[#127FBF]">Sign up now</button></a>
	<div class="space-y-12 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 max-w-lg mx-auto mt-10 lg:max-w-2xl text-center">
		<div class="py-10 w-full border-2 border-gray-300 rounded-lg font-medium">Cheap<br> <span class="font-normal">Competitive Price</span></div>
		<div class="py-10 w-full border-2 border-gray-300 rounded-lg font-medium">More feature<br> <span class="font-normal"> Essentials Feature included</span></div>
	</div>
	</Layout>